node_modules
.expo/
.next/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

.env.development
.env.production
/docker/prod/.env
*.log
web.zip
web/

.yarn
.keystore
app/android/app/build/
app/android/.*
app/android/app/*.keystore
*.aab
/backoffice/mails/*
