node_modules
.expo/
.next/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

.env
.env.development
.env.production
.env.production.bak
.env.test
*.config.json
/docker/prod/.env
*.log
web.zip
web_test.zip

.yarn
.vscode
.keystore
*.aab
/webapi/mails/*
/webapi/schema*.graphql

.pnp*

test.txt

/webapi/build
/build
/build.zip
/webapi/backup*.sql

/app/ios
/app/android
/app/tests/sanityTests/config.ts
*storybook.log
