{
    "dbPassword": "yourdbpassword",
    "googleAuthAudience": "yourFirebaseProjectNumber",
    "googlePrivateKey": "-----BEGIN PRIVATE KEY-----\nsomeprivatekey\n-----END PRIVATE KEY-----\n",
    "googleServiceAccount": "symbro@symbro.iam.gserviceaccount.com",
    "host": "localhost",
    "jwtSecret": "yoursecret",
    "jwtType": "sb.jwt_token",
    "logPath": "./",
    "mailApiKey": "yoursendgridkey",
    "mailPath": "./mails/",
    "mailTemplatesLocation": "./src/mailing/templates/",
    "noreplyEmail": "noreply@tope-la.com",
    "port": 5432,
    "production": false,
    "productName": "Tope-là dev",
    "pushNotificationsUrlPrefix": "exp://192.168.0.66:8081/--/",
    "remoteBackupFolderName": "backups_test",
    "user": "sb",
    "webAppUrl": "http://localhost:3001/webapp/",
    "webClientUrls": "[\"http://localhost:19006\", \"http://localhost:3001\"]",
    "websiteUrl": "http://localhost:3001/",
    "versions": {
        "v0_6": {
            "db": "sb_db_0_8",
            "apiPort": 3000,
            "doNotSendMails": true
        },
        "v0_2": {
            "db": "sb_db_0_9",
            "apiPort": 3001,
            "doNotSendMails": true
        }
    }
}