{
    "dbPassword": "yourdbpassword",
    "googleAuthAudience": "yourFirebaseProjectNumber",
    "googlePrivateKey": "-----BEGIN PRIVATE KEY-----\nsomeprivatekey\n-----END PRIVATE KEY-----\n",
    "googleServiceAccount": "symbro@symbro.iam.gserviceaccount.com",
    "host": "sb_db_test",
    "jwtSecret": "yoursecret",
    "jwtType": "sb.jwt_token",
    "logPath": "/app/logs/",
    "mailApiKey": "yoursendgridkey",
    "mailApiUrl": "sandbox27eb27b90be24bf9ad604cc3d08019e6.mailgun.org",
    "mailDomain": "tope-la.com",
    "mailPath": "./mails/",
    "mailTemplatesLocation": "./src/mailing/templates/",
    "noreplyEmail": "noreply@tope-la.com",
    "port": 5432,
    "production": false,
    "productName": "Tope-là test",
    "pushNotificationsUrlPrefix": "exp://192.168.68.104:8081/--/",
    "remoteBackupFolderName": "backups_test",
    "user": "sb",
    "webAppUrl": "https://test.tope-la.com/webapp/",
    "webClientUrls": "[\"http://localhost:19006\", \"https://test.tope-la.com\"]",
    "websiteUrl": "https://test.tope-la.com/",
    "versions": {
       "v0_6": {
            "db": "sb_db_test_0_6",
            "apiPort": 3000,
            "doNotSendMails": true
        },
        "v0_2": {
            "db": "sb_db_test_0_2",
            "apiPort": 3001,
            "doNotSendMails": true
        }
    }
}