version: '2.1'
services:
  sb_web:
    read_only: true
    tmpfs:
      - /tmp:noexec,nosuid,nodev,size=64m
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    depends_on:
      - sb_webapi
    build:
      context: './../../containers/website'
      dockerfile: './Dockerfile'
    ports:
      - "3000"
    restart: always
  sb_webapi:
    depends_on:
      - sb_db
    build:
      context: './../../containers/webapi'
      dockerfile: './Dockerfile'
    ports:
      - "3000"
      - "3001"
    restart: always
  sb_proxy:
    read_only: true
    tmpfs:
      - /tmp
      - /var/cache/nginx
    build:
      context: './proxy'
    depends_on:
      - sb_web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/var/local
    restart: always
  sb_db:
    env_file:
      - .env
    healthcheck: 
      interval: 10s
      retries: 10
      test: "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\""
      timeout: 2s
    build:
      context: './../../containers/db'
      dockerfile: './Dockerfile'
    ports: 
      - "13455:5432"
    restart: always
    volumes: 
      - "db_data:/var/lib/postgresql/data"
volumes: 
  db_data: {}