NEXT_PUBLIC_CONFIG="{"link1Url": "http://localhost:3000", "link2Url": "https://awesome-feta-d29.notion.site/Foire-aux-questions-974d5813ace64ff28d7722586b5ac8c5", "versions": { "default": {"graphqlUrl": "http://localhost:3000/graphql"},"v0_2": {"graphqlUrl": "http://localhost:3000/graphqlv0_2"}}}"