NEXT_PUBLIC_CONFIG="{"link1Url": "http://localhost:3000", "link2Url": "https://awesome-feta-d29.notion.site/Foire-aux-questions-974d5813ace64ff28d7722586b5ac8c5", "mapsApiKey": "<API_KEY_FROM_GOOGLE>", "googleApiKey": "<API_KEY_FROM_GOOGLE>", "cloudinaryCloud": "<cloudid>", "cloudinaryRestUrl": "https://api.cloudinary.com/v1_1/", "cloudinaryUploadPreset": "ecibpquo", "versions": { "v0_8": {"graphqlUrl": "http://localhost:3000/graphql", "apiUrl": "http://localhost:3000"}, "v0_9": {"graphqlUrl": "http://localhost:3001/graphql", "apiUrl": "http://localhost:3001"}}}"