NEXT_PUBLIC_CONFIG="{"link1Url": "https://test.tope-la.com", "link2Url": "https://foggy-neptune-444.notion.site/Foire-aux-questions-ebb4a58584b8449d836d91ab37995e9a", "versions": { "default": {"graphqlUrl": "https://test.tope-la.com/graphql"},"v0_2": {"graphqlUrl": "https://test.tope-la.com/graphqlv0_2"}}}"