NEXT_PUBLIC_CONFIG="{"link1Url": "https://www.tope-la.com", "link2Url": "https://awesome-feta-d29.notion.site/Foire-aux-questions-974d5813ace64ff28d7722586b5ac8c5", "cloudinaryCloud": "<cloudid>", "cloudinaryRestUrl": "https://api.cloudinary.com/v1_1/", "cloudinaryUploadPreset": "ecibpquo", "appleAuthRedirectUri": "https://test.tope-la.com/webapp", "appleServiceId": "com.tope-la.web", "versions": { "default": {"graphqlUrl": "https://www.tope-la.com/graphql"},"v0_6": {"graphqlUrl": "https://www.tope-la.com/graphqlv0_6"}}}"