{
    "apiUrl": "http://localhost:3000/graphql",
    "subscriptionsUrl": "ws://localhost:3000/graphql",
    "cloudinaryCloud": "cloudid",
    "cloudinaryUploadPreset": "presetname",
    "cloudinaryRestUrl": "https://api.cloudinary.com/v1_1/"
}