{
    "apiUrl": "https://test.tope-la.com/graphqlv0_2",
    "subscriptionsUrl": "wss://test.tope-la.com/graphqlv0_2",
    "linksUrl": "https://test.tope-la.com/api/link/",
    "cloudinaryCloud": "cloudid",
    "cloudinaryUploadPreset": "presetname",
    "cloudinaryRestUrl": "https://api.cloudinary.com/v1_1/"
}